<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= title + " total has " + postsList.length + " articles." %></p>

    <% for(var i = 0; i < postsList.length; i++) { %>
    <p><%= postsList[i] %></p>
    <% } %>

    <footer>
      <p><%= footer%></p>
    </footer>
  </body>
</html>
